.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
li , a, .button{
     transition: all,color .3s ease-in,background .3s ease-in,font-size .3s ease-in;
}
.float-left{
    float: left;


}
.float-right{
    float:right;

}
a{
    text-decoration: none;
     color: #fff;
}

body{
  background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1000px;
    font-family: Lobster,Roboto,Arial;
}
.wrapper{
    display: inline-block;

    width: 100%;

}

header{
    display: inline-block;
      background: url(../img/Background-other.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: cover;
   background-attachment: fixed;
    width: 100%;
}

.header-nav{
    display: block;
    padding: 10px;
}
.main-nav:nth-child(3){
    font-size: 60px;
    background-color: rgba(0,0,0,0.6);
    padding: 1%;
    font-family: Lobster;
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom: 8px solid #7ca2ba;
}
.header-nav:hover{
    font-size: 40px;
}

.main-nav{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    padding: 1%;
    width: 18%;
    border-bottom: 8px solid #7ca2ba;
    display: inline-block;
    float: left;
    background-color: rgba(0,0,0,0.4);
}



.head-container{
    background-color: rgba(0,0,0,0.2);
}
.container{

    text-align: center;
    width: 80%;
    display: block;
    margin: auto;
}

.Citate {
    font-size: 59px;
    font-family: Lobster;
    color: #fff;
    margin-top: 52%;
}
.By_authors{
    color: #fff;
    font-size: 23px;
    font-family: Lobster;
    padding-bottom: 50px;
}


.after-head {
 border-radius: 50%;
   background: #f2baba;
    background-size: cover;
    display: inline-block;
}
.information{
    padding: 40px;
    display: inline-block;
 color: #lll;
    font-size: 80px;
}
.information-par{
    padding: 10px;
    text-align-last: center;
    font-size: 40px;
}
.button:hover{
    background: white;
    color: black;
    font-size: 50px;
}
.button{
    color: black;
    border-radius: 50px;
    padding: 15px;
    display: inline-block;
    font-size: 30px;
    margin: 40px;
    border: 4px solid;
}





.container_foot {
    text-align: center;
    background: #222222;
    display: block;
    color: #575656;
}
.container_foot > h2{
    color: white;
    font-size: 40px;
    font-weight: 900;
    padding-top: 50px;
}
.container_foot > p{
    padding-top: 40px;
    font-size: 20px;
    padding-bottom: 40px;
}

.contact-icons ul li  {
    display: block;
    font-size: 25px;
    padding-left:43px;;
    float: left;
    text-align: center;


}
i{

    color: #5a4e4e;


}

.contact-icons {
    display: inline-block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    text-align: center;
}
i:hover{
    color: white;
}
hr{
    color: #5a4e4e;
    margin: auto;
    width: 80%;
   margin-top: 50px;
}
.sign{
     margin: 50px;

}
.sign a{
     text-decoration: none;
color: inherit;
}
