.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
li , a, .button,i{
     transition: all,color .3s ease-in,background-color .3s ease-in,font-size .3s ease-in;
}
.float-left{
    float: left;


}
.float-right{
    float:right;

}
a{
    text-decoration: none;
     color: #fff;
}

body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1000px;
    font-family: Lobster,Roboto,Arial;
      background: url(../img/Background-other.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
   display: inline-block;
    width: 100%;
}


.header-nav{
    display: block;
    padding: 30px 0;
}
.main-nav:nth-child(3){
    font-size: 60px;
    background-color: rgba(0,0,0,0.6);
    font-family: Lobster;
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom: 8px solid rgba(0,0,255,0.2);
}
.header-nav:hover{
    font-size: 45px;
}

.main-nav{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    width: 20%;
    border-bottom: 8px solid rgba(0,0,255,0.2);
    float: left;
    background-color: rgba(0,0,0,0.4);
}




.container{
    margin:70px auto;
    border: 1px solid rgba(0,0,255,0.2);
    border-radius: 40px;
    padding-bottom: 40px;
    color: white;
    text-align: center;
    width: 80%;
    display: block;
     background-color: rgba(0,0,0,0.7);
}
h1{
    padding: 30px;
    color: #fff;
font-size: 60px;
}
.Citate {
    border: 1px solid rgba(0,0,255,0.2);
     border-radius: 40px;
      background-color: rgba(0,0,0,0.7);
    margin: auto;
    text-align: center;
    margin-top: 45%;
    font-family: Lobster;
    width: 75%;
}



.information{
}
.information-par{
    padding: 30px;
    text-align-last: center;
}
.button:hover{
    background: white;
    color: black;
    font-size: 50px;
}
.button{
    border-radius: 50px;
    padding: 15px;
    display: inline-block;
    font-size: 30px;
    margin: 40px;
    border: 4px solid;
}

.footer-head{
}

.container > p{
    font-size: 20px;
    padding: 40px;
}

.contact-icons ul li  {
    float: left;
}
.contact-icons i{
    padding: 20px;
    color:  #fff;
    font-size: 40px;
}
.contact-icons {
    display: inline-block;
    margin: auto;
    text-decoration: none;
    border-bottom: 8px solid rgba(0,0,255,0.2);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
i:hover{
    font-size: 50px;
}
.fa-facebook:hover{color: #3C5A99;}
.fa-twitter:hover{color: #55acee;}
.fa-dribbble:hover{color: #ea4c89;}
.fa-google-plus:hover{color: #f00;}

.sign{
    margin-top: 20px;
    font-size: 20px;
}
.sign a{
     text-decoration: none;
color: inherit;
}


